@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-login:after {
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	background-color: #0b0b22;
	z-index: -1;
	opacity: 1;
	transition: all 0.6s ease-in-out;
}

.btn-login {
	border: none;
	display: inline-block;
	border-radius: 5px;
	position: relative;
	z-index: 1;
	font-size: 14px;
	padding: 12px 35px;
	font-weight: 100;
	letter-spacing: 2px;
}

.btn-login:before,
.btn-login:after {
	content: " ";
	position: absolute;
	border-radius: 5px;
}

.btn-login:before {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -2;
	background: #85ffc4;
	background: -moz-linear-gradient(left, #85ffc4 0%, #5cc6ff 100%);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0%, #85ffc4),
		color-stop(100%, #5cc6ff)
	);
	background: -webkit-linear-gradient(left, #85ffc4 0%, #5cc6ff 100%);
	background: -o-linear-gradient(left, #85ffc4 0%, #5cc6ff 100%);
	background: -ms-linear-gradient(left, #85ffc4 0%, #5cc6ff 100%);
	background: linear-gradient(to right, #85ffc4 0%, #5cc6ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85FFC4', endColorstr='#5CC6FF',GradientType=1 );
}

.login-padding {
	padding: 12px 35px;
	border-radius: 5px;
	width: min-content;
	color: black;
}

.btn-login:after {
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	background-color: #0b0b22;
	z-index: -1;
	opacity: 1;
	transition: all 0.6s ease-in-out;
}

.btn-login:hover:after {
	opacity: 0;
}

.text-input {
	@apply w-full;
	height: 56px;
	border: 1px solid rgba(130, 130, 149, 0.3);
	border-radius: 5px;
	background-color: transparent;
	padding: 0 15px;
	font-size: 14px;
}

.text-input-custom {
	height: 56px;
	border: 1px solid rgba(130, 130, 149, 0.3);
	border-radius: 5px;
	background-color: transparent;
	padding: 0 15px;
	font-size: 14px;
}

.textarea-input {
	@apply w-full font-inter;
	border: 1px solid rgba(130, 130, 149, 0.3);
	border-radius: 5px;
	background-color: transparent;
	padding: 20px 15px;
	resize: none;
	font-size: 14px;
}

/* hiding scroll bar */

.textarea-input::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

select {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	background-color: #fafafa;
	background-image: url("/assets/Bottom.svg");
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) center;
}

[type="date"] {
	background: url("/assets/calender.svg") 97% 50% no-repeat;
	background-size: 20px;
}
[type="date"]::-webkit-inner-spin-button {
	display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

option {
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	border: 1px solid #0b0b22;
	background-color: #0b0b22;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.submit-button {
	@apply w-full bg-gradient-to-r from-[#85FFC4] to-[#5CC6FF] text-gray-900 font-bold py-5 px-4 rounded-lg font-inter text-[14px];
}

.btn-gradient {
	color: white;
	@apply w-full bg-gradient-to-r from-[#85FFC4] to-[#5CC6FF];
}

.select-wrapper__control {
	background-color: #0b0b22 !important;
	outline: none !important;
	border: 1px solid rgba(130, 130, 149, 0.3) !important;
	padding: 10px 15px !important;
}

.select-wrapper__placeholder {
	color: #828295 !important;
	font-family: "Inter", sans-serif !important;
	font-size: 14px;
	font: italic !important;
}

.select-wrapper__single-value {
	color: white !important;
	font-family: "Inter", sans-serif !important;
	font-size: 14px;
	font: italic !important;
}

.select-wrapper__indicator-separator {
	display: none !important;
}

.editor {
	/* background-color: #153b44; */
	color: white;
	border: 1px solid rgba(130, 130, 149, 0.3);
	/* border: 1px solid rgba(130, 130, 149, 0.3); */
	/* border-top: none; */
	/* padding: 0 15px; */
}

.ql-editor {
	min-height: 200px;
}

.ql-editor::placeholder {
	color: #828295;
}
